<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jobdam.jobdam_be.auth.mapper.RefreshTokenMapper">
    <insert id="save">
        INSERT INTO refresh_token (refresh_token, expires_at, user_id)
        VALUES (
                #{refreshToken}, #{expiration}, #{userId}
               )
            AS new
        ON DUPLICATE KEY UPDATE
                                     expires_at = new.expires_at
    </insert>
    <delete id="deleteByUserId">
        DELETE FROM refresh_token WHERE user_id = #{user_id}
    </delete>
    <delete id="deleteByRefreshToken">
        DELETE FROM refresh_token WHERE refresh_token = #{refresh}
    </delete>
    <select id="existsByRefreshToken" resultType="java.lang.Boolean">
        SELECT count(*) > 0 FROM refresh_token where refresh_token = #{refresh}
    </select>
</mapper>