<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jobdam.jobdam_be.auth.mapper.VerificationMapper">

    <insert id="saveOrUpdateVerification" parameterType="com.jobdam.jobdam_be.auth.model.EmailVerification">
        INSERT INTO email_verification (email, code, created_at)
        VALUES (#{email}, #{code}, #{createdAt})
            AS new
        ON DUPLICATE KEY UPDATE
                                     code = new.code,
                             created_at = new.created_at
    </insert>

    <select id="findByEmail" resultType="com.jobdam.jobdam_be.auth.model.EmailVerification">
        SELECT * FROM email_verification WHERE email = #{email}
    </select>

    <delete id="deleteByEmail">
        DELETE FROM email_verification WHERE email = #{email}
    </delete>

</mapper>